html,
body {
    font-family: Verdana;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffbbdd;
    color: #fff;
    font-family: 'Times New Roman', italic;
    padding: 5px;
}

nav {
    background-color: #f0b0d0;
    padding: 5px;
    color: #fff;
    font-family: 'Tahoma', 'bold';
    font-size: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.container {
    padding: 10px;
}

footer {
    background-color: #ffbbdd;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
.titulo {
    text-align: center;
}

.produtos {
    border: 2px solid #e5e5e5;
    margin-top: 20px;
    display: block;
}

.Imagemproduto {
    padding-bottom: 35px;
    text-align: center;
}

.detalhes {
    background-color: #f0f0f0;
    text-align: center;
}

.contato-section {
    text-align: center;
    padding: 160px;
}

#contatoForm {
    max-width: 600px;
    margin: 0 auto;
}

.buttoncontato {
    border: none;
    border-radius: 5px;
    background-color: #ffbbdd;
    color: white;
    margin-top: 1rem;
    width: 70%;
    height: 42%;
}