html,
body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    height: 29rem;
    width: 26rem;
    margin: 3rem auto;
    padding: .2rem;
}

img {
    height: 28rem;
    width: 25rem;
    border: 2px rgb(38, 0, 255) solid;
    margin: .3rem;
}